.new-expense {
  background-color: #313d4d;
  padding: 1rem 3rem 3rem 3rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 14rem;
  text-align: center;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: #af04ff;
  border: 1px solid #af04ff;
  box-shadow: 0 12px 0 -8px #b7bfc9;
  color: #fff;
  transition: all 0.3s ease;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #7809ac;
  border: 1px solid #7809ac;
  transform: translateY(2px);
  box-shadow: 0 6px 0 -4px #b7bfc9;
}
